[submodule "tetra"]
	path = tetra
	url = https://github.com/konstfish/tetra.git
	branch = main
[submodule "guppy"]
	path = guppy
	url = https://github.com/konstfish/guppy.git
	branch = main
[submodule "barracuda/k3s-ansible"]
	path = barracuda/k3s-ansible
	url = https://github.com/konstfish/k3s-ansible.git
